<div id="newword">
	<form action="/words/create">
		<div>
			<label class="required">Word(s)</label>
			<input type="text" name="words"/>
		</div>
		<div>
			<label class="optional">Context</label>
			<input type="text" name="context"/>
		</div>
		<div>
			<label class="optional">Owner</label>
			<input type="text" name="owner"/>
		</div>
	</form>
</div>