html {
	/*background-color: black*/
	font-family:Helvetica, arial;
	font-weight:400;
	font-size:16px;

	body {
		color:white;
		background:black url('/img/blackmamba.png') repeat right top;

		.fancybox-outer{
			color:white;
			background:black url('/img/blackmamba.png') repeat right top;
			-moz-border-radius: 15px;
			border-radius: 15px;
			border:3px silver solid;

			#newword{
				margin:0 auto;
				header{
					h3{
						font-family: 'Qwigley', cursive;
						font-weight:800;
						font-size:2em;
						text-align:center;
					}
				}
				.content{
					margin:0 auto;
					div{
						padding:1em 1em 0 1em;
						margin:0 auto;

						label.required:after{
							color:red;
							content:" *";
						}

						input[type="text"], textarea{
							width:27.5em;
						}
					}
					div.buttonbar{
						padding:2em 1em 0 1em;
						margin-right:1.5em;
						text-align:right;
					}
				}
			}
		}

		#container {
			width:60em;
			margin:0 auto;
			
			header{
				h1{
					font-family: 'Qwigley', cursive;
					font-weight:800;
					font-size:4em;
					text-align:center;
				}
			}

			footer{
				font-size:0.8em;
				text-align:center;
				padding-top:6em;
				a{
					font-size:0.4em;
					vertical-align:top;
					color:white;
					text-decoration:none;
				}
			}

			#footnotes{
				position:absolute;
				bottom:0;
				.footnote{
					font-size:0.6em;
					a{
						font-size:0.4em;
						vertical-align:top;
						color:white;
						text-decoration:none;
					}
				}
			}

			#main{
				#foreword{
					/*margin:0 2em;*/
					p#sig{
						text-align:right;
					}
				}

				#c2a{
					margin: 1em auto;
					padding:2em 4em 0 4em;
					.bigbutton{
						background-color:gold;
						-moz-border-radius: 15px;
						border-radius: 15px;
						text-align:center;
						border:3px silver solid;

						/*-moz-transition: color  1s;
						-webkit-transition: color 1s;
						-o-transition: color  1s;
						-ms-transition: color 1s;
						transition: color 1s;*/

						a{
							text-decoration:none;
							font-weight:bold;
							font-size:2em;
							color:black;
							display:block;
							cursor:hand;
						}
					}
					.bigbutton:hover{
						/*background-color:#AF7817;*/
						/*background-color:gold2;*/
						/*background-color:darken(gold, 15%);*/
						background-color:green;
					}
				}

				#listing{
					#words{
						padding-top:2em;
						table{
							border-collapse:collapse;
							/*border-left:1px solid #686868;
							border-right:1px solid #686868;*/
							
							td, th{
								padding:5px;
							}

							caption{
								padding:0 0 0.5em 0;
								text-align:left;
								font-size:1.4em;
								font-weight:bold;
								text-transform:uppercase;
								background:transparent;
							}

							a{
								text-decoration:none;
							}

							a:link{}

							a:hover{
								border-bottom:1px dashed #bbb;
							}

							thead{
								border-bottom:1px dotted #333;
								tr{
									th.name{
										width:20em;
									}
									th.context{
										width:20em;
									}
									th.owner{
										width:20em;
									}
								}
							}
							tbody{
								overflow:scroll;
								tr{
									td, th{
										border-bottom: dotted 1px #333;
										text-align:center;
									}
									th{
										white-space:nowrap;
									}
								}
								tr:hover{
									background:#111111;
								}
							}
						}
					}
				}
			}
		}
	}
}