<p>
The words that define us are many and varied.  They may change, but while they're in power, they grab you and hold you.  They monopolize our conversations, consume our days and otherwise just cause all sorts of problems.  Feel free to add yours to the list.
</p>
<p>--Adam & Renee</p>